# Файлы с переменными окружения и секретами
.env

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/
ENV/

# Логи
*.log

# IDE files
.idea/
.vscode/

# Временные файлы
*.tmp

# Документация по архитектуре
architecture.md 

# Тестовые файлы
gemini-test.ipynb

# macOS Finder files
.DS_Store